---
import { truncateText } from '../lib/utils.ts'
import { buttonVariants } from '@/components/ui/button'
import { Label } from "@/components/ui/label"
import { Tag } from "@/components/ui/tag"
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

const { title, description, imagePath, tags, postDate, ...props } = Astro.props

---

<Card class="w-full" className="shadow-2xl shadow-blue-900 hover:shadow-md hover:shadow-blue-500">
    <a href="/">
        <CardHeader>
            <img src={imagePath} alt="" />
        </CardHeader>
        <CardContent>
            <Label>{postDate}</Label>
            <CardTitle className="leading-7">
                {title}
            </CardTitle>
            <CardDescription>
                {truncateText(description)}
            </CardDescription>
        </CardContent>
        <CardFooter className="flex-wrap gap-2">
            {tags.map(tag => (
                <Tag text={tag} key={tag} />
            ))}
        </CardFooter>
    </a>
</Card>
